:root {
  --main-container-width: 1200px
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.3em;
}
.pointer {
  cursor: pointer;
}
.main__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--main-background);
  min-height: 100vh;
}
.container {
  width: var(--main-container-width);
  background-color: var(--main-background);
  padding: 20px;
  box-sizing: border-box;
}
.favorit_wrapper {
  height: 100vh !important;
}
.text-main {
  color: var(--text-main)
}
.justify-center {
  justify-content: center !important;
}
.text-center {
  text-align: center;
}
.d-none {
  visibility: hidden;;
}
.mt-2 {
  margin-top: 2em;
}
.mb-1 {
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}
.mr-1 {
  margin-right: 0.5em;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.9em;
  }
}
