body {
  margin: 0;
}
.pointer {
  cursor: pointer;
}
.main__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-background);
}
.container {
  width: 1200px;
  background-color: var(--main-background);
  padding: 20px;
  box-sizing: border-box;
}
.justify-center {
  justify-content: center !important;
}
.text-center {
  text-align: center;
}
.d-none {
  visibility: hidden;;
}
.mt-2 {
  margin-top: 2em;
}
.mt-1 {
  margin-top: 1em;
}
.mr-1 {
  margin-right: 0.5em;
}
