.home {
  padding: 1em;
  background-color: var(--main-soul);
  margin-top: 50px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .home-header {
    flex-direction: column;
  }

  .home-add__favorite {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .CAutocomplete {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .CAutocomplete input {
    width: 100%;
  }
  .home-add__favorite {
    width: 100%;
    margin-right: 0 !important;
  }
}
